@import './variables';

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', Helvetica, sans-serif;
}

i {

  &:hover {
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  font-size: 30px !important;
}

.form-control {
  font-size: 24px;
  height: 48px;
  border-radius: 0;
  box-shadow: none;
  border: 3px solid $algae;
}

.btn {
  border-radius: 0;
  padding: 8px 20px;
  font-size: 16px;
  font-family: Helvetica;
}

.btn-primary {
  background-color: transparent;
  border-color: $sky;
  color: $sky;
  &:hover {
    background-color: $sky;
    border-color: $sky;
  }
}

.btn-default {
  background-color: transparent;
  border-color: white;
  color: white;
  -webkit-transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  -ms-transition:all 0.5s ease-out;
  -o-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;

  &:hover {
    border: white solid 1px;
    background-color: transparent;
    color: white;
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    transform:scale(1.3);
  }
}
