@import '../../styles/index';

.homeContent {
  background: $sky;
  background: -webkit-radial-gradient(circle, $lemon, $sky);
  background: -o-radial-gradient(circle, $lemon, $sky);
  background: -moz-radial-gradient(circle, $lemon, $sky);
  background: radial-gradient(circle, $lemon, $sky);
  height: 100vh;

  .container {
    padding: 1.5rem 0rem;
    color: white;
  }
}

.pigeon {
  img {
    width: 40rem;
    margin-left: 25%;
  }

  margin-top: 5rem;
}

.header {
  img {
    height: 8rem;
    width: 8rem;
    margin-top: -1.5rem;
  }

  h3 {
    display: inline-block;
  }
}
