@import '../../styles/index';

.tweet {
  img {
    height: 75px;
    margin-right: 1.5rem;
    float: left;
  }

  p {
    strong {
      font-size: 18px;
      margin-right: 1rem;
    }
    height: 75px;
    padding-top: 0.6rem;
  }

  background-color: white;
  color: $navy;
  margin: 2rem 0;
}


.tweetsList {
  max-height: 30rem;
  overflow: auto;
}
